.header__sign-out {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-columns {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px
}

.card {
    margin-top: 10px;
}

.header__sign-out {
    text-align: right;
}
