   .header {
            position: fixed;
        }
    .header__title {
        font-size: 20px;
        margin: auto;
    }

    .card-columns {
        margin-top: 150px;
        margin-left: 50px;
        margin-right: 50px
    }
    .card {
        margin-top: 10px;
    }
    .header__sign-out {
        text-align: right;
    }
