.btn-primary {
    margin: auto;
    width: 360px;
}

.form-id {
    width: 250px;
    margin-top: 5px;
}

.form-name {
    margin-top: 5px;
}

.form-pw {
    margin-top: 5px;
}

.form-pwcheck {
    margin-top: 5px;
}

.btn-secondary {
    width: 110px;
    margin-top: 5px;
    display: block;
}

.id-double {
    display: flex;
    justify-content: space-between;
}

.login-form__title {
    text-align: center;
    font-size: 30px;
}
