.my-img {
    width: 500px;
    height: 300px;

    margin-top: 150px;

    background: gray;
    background-position: center;
    background-size: cover;
}

.input-group {
    width: 500px;
}

.form-group {
    width: 500px;
    margin-top: 30px;
}

.upload-btn {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
}

.wrap {
    width: 500px;
    margin: auto;
}