<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>Trippers</title>

    <script>
        function logout() {
            $.removeCookie("mytoken");
            alert("로그아웃 되었습니다.");
            window.location.href = "/";
        }
    </script>
</head>

<body>
<nav class="header">
    <div class="header__write-review">
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/write_review'">리뷰작성</button>
    </div>
    <div class="header__title">TRIPPERS</div>
    <div class="header__sign-out">
        <span>OOO님 환영합니다</span>
        <a href="#" onclick="logout()">로그아웃</a>
    </div>
</nav>

<div class="card-columns">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">여행장소 이름</h5>
            <p class="card-text"> 아이디</p>
            <p class="card-text"> 간략한리뷰</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">여행장소 이름</h5>
            <p class="card-text"> 아이디</p>
            <p class="card-text"> 간략한리뷰</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">여행장소 이름</h5>
            <p class="card-text"> 아이디</p>
            <p class="card-text"> 간략한리뷰</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">여행장소 이름</h5>
            <p class="card-text"> 아이디</p>
            <p class="card-text"> 간략한리뷰</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">여행장소 이름</h5>
            <p class="card-text"> 아이디</p>
            <p class="card-text"> 간략한리뷰</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">여행장소 이름</h5>
            <p class="card-text"> 아이디</p>
            <p class="card-text"> 간략한리뷰</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">여행장소 이름</h5>
            <p class="card-text"> 아이디</p>
            <p class="card-text"> 간략한리뷰</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">여행장소 이름</h5>
            <p class="card-text"> 아이디</p>
            <p class="card-text"> 간략한리뷰</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">여행장소 이름</h5>
            <p class="card-text"> 아이디</p>
            <p class="card-text"> 간략한리뷰</p>
        </div>
    </div>


</body>
</html>
